<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo, Administrador!</h1>
        <a href="/register">Cadastrar Usuarios</a><br>
        <a href="/logout">Sair</a>
        <!-- Conteúdo específico para administração -->
    </div>
</body>
</html>