html, body, #home {
	height: 100%;
	overflow-x: hidden;
}
#cor {
    background: linear-gradient(75deg, rgb(0, 35, 49), rgb(0, 0, 0));
}

/* Estiliza o h1 da página de login */
h1[data-page="login"] {
    color: blue;
  }
  
  /* Estiliza o h1 da página de cadastro */
  h1[data-page="register"] {
    color: green;

  }

  .login-container { /*CENTRALIZA O CONTAINER DE LOGIN*/
    min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .login-box { /*BOX QUE FICA O FORMULARIO DE LOGIN*/
      width: 100%;
      max-width: 380px;
      padding: 10px;
  }
  .controle-formulario {
    border-radius: 0;
  }
  input.cor-cinza { /*COR DO INPUT PERSONALIZADO*/
    background-color: #141111; /* Cinza claro */
    color: #000; /* Cor do texto preta */
    border-color: #ccc; /* Cor da borda */
  }

  h1 {
    font-weight: 700;
    letter-spacing: -0.0.5em;
    color: rgb(255, 255, 255);
      margin-bottom: 50px;
  }
  nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(26, 163, 129, 0.295);
  }
  #rodape {
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
